@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-blue: #2643d6;
  --color-white: #ffffff;
  --color-gray: #f0e8e8;
}

.titulo {
  text-align: center;
  padding: 10px 10px 30px 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-blue);
}

.main__content {
  background-color: var(--color-white);
  /* padding: 10px 40px 40px 40px; */
  padding: 4%;
  border-radius: 5%;
}

.criar__contato, .editar__contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


input[type="text"] {
  padding: 10px;
  font-size: 12px;
  border-style: none;
  box-sizing: border-box;
  background-color: var(--color-gray);
  outline-color: var(--color-blue); 
}

.criar__contato__input, .editar__contato__input {
  width: 20vw;
}

input[type="checkbox"] {
  text-decoration: underline;
}

.btn-padrao {
  padding: 5px 100px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid var(--color-blue);
  font-weight: bolder;
  cursor: pointer;
}

.voltar-link {
  text-decoration: none;
  color: var(--color-blue);
}

.voltar-link:hover {
  font-weight: 500;
  text-decoration: underline;
}

.main__table {
  background-color: var(--color-white);
  padding: 3%;
  border-radius: 2%;
}

table {
  display: table;
  flex-wrap: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
tr,
td {
  border: 1px solid black;
  font-weight: normal;
  padding: 10px;
}

.table-links {
  text-decoration: none;
  color: var(--color-blue);
}

.table-links:hover {
  text-decoration: underline;
}

.adicionar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.btn-adicionar {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4%;
}

.detalhes { 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.detalhes__contato__topico {
  font-weight: bold;
}

.box-btn-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-detalhes-link {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4%;
}

.btn-deletar {
  background-color: rgb(212, 32, 32);
  color: var(--color-white);
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4%;
  border-style: none;
  cursor: pointer;
}


.container-btn-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}